# Python
__pycache__/
*.pyc
*.pyo
.venv/

# uv
# .python-version and uv.lock are tracked

# IDE
.idea/
.vscode/

# OS
.DS_Store
*~

# Misc
*.log
*.swp
*.csv

engines/*
!engines/main
tournaments/*
!tournaments/sample.txt
